:root {
  --bg-primary: #333131;
  --text-primary: #FFF;
  --bg-secondary: #444;
  --bg-tertiary: #222;
  --accent-blue: #007bff;
  --accent-red: #dc3545;
  --accent-green: #28a745;
  --text-muted: #999;
  --border-color: #555;
  --yellowMainColor: #fff035;
  --greenMainColor: #b6e642;
}
.gradient-text {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.transition-all {
  transition: all 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  background-color: #666 !important;
  border-color: #007bff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  color: #fff !important;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem;
  }
}

.nav-pills .nav-link {
  border-radius: 25px !important;
}

.sticky-top {
  backdrop-filter: blur(10px);
}

.main-container {
  padding-left: 140px;
  padding-right: 140px;
}

.header {
  padding-left: 140px;
  padding-right: 140px;
}

.footers {
  padding-left: 140px;
  padding-right: 140px;
}

@media (min-width: 768px) and (max-width: 1024px){.main-container,.header,.footers{padding-left:40px;padding-right:40px}}


@media (max-width: 768px) {
  .main-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footers {
    padding-left: 0px;
    padding-right: 0px;
  }
}



/* premium links */
.footer-link,.navigation-link {
  position: relative;
  transition: color 0.3s ease
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--greenMainColor);
  transition: width 0.4s ease;
}

.footer-link:hover,.navigation-link:hover {
  color: var(--greenMainColor) !important;
}

.footer-link:hover::after {
  width: 100%;
}


.navigation-link::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: var(--greenMainColor);
  transition: width 0.4s ease;
}

.navigation-link:hover::after {
  width: 80%;
}

@media (max-width: 991.98px) {
.navigation-link:hover::after {
  width: 97%;
}
}